<div class ="offset-md-6 col-md-4" style ="top: 20%;">
  <div class="card" style="width: 18rem;">
    <h1 class="text-center card-header">WELCOME</h1>
    </br></br></br>
    <h4 class="text-center">NEW USER?</h4>
    <div class ="text-center">
      <button type="button" class="btn btn-info ">
        <%= link_to 'Sign Up' , new_user_registration_path %>
      </button>
      </br></br></br></br></br></br>
      <h4 class="text-center">ALREADY A USER?</h4>
      <button type="button" class="btn btn-info">
        <%= link_to 'Log In' , new_user_session_path %>
      </button>
    </div>
    </br></br>
  </div>
</div>